main {
  font-family:'Helvetica';
  display: flex;
  padding-bottom: 0;
}

/***********************
  Móvil: width <= 679px 
************************/
@media (max-width: 679px) {
  
  .menu {width: 20%;}
  .galeria {width: 75%;}

  .menu nav{margin-left: 10px;}

  .menu h1 {font-size: 2vw;}
  .menu a {font-size: 2vw}   

  .imagen h2{font-size: 9px;}
  .imagen p{font-size: 9px;}

  .imagen h2, .imagen p {
    padding: 6px;
  }

  .fila img {width: calc(25vw - 25px);}

  .boton-sig button,.boton-ant button {
    padding: 10px 50px;
    font-size: 15px;
  }
}
  

/************************************
  Tablet: 680px <= width <= 1444px 
************************************/
@media (min-width: 680px) and (max-width: 1444px) {
  .menu {width: 20%;}
  .galeria {width: 75%;}

  .menu nav{margin-left: 30px;}

  .menu h1 {font-size: 1.5vw;}
  .menu a {font-size: 1.5vw}   
  
  .imagen h2{font-size: 2vw;}
  .imagen p{font-size: 1.5vw;}

  .imagen h2, .imagen p {
    padding: 10px;
  }

  .fila img {width: calc(25vw - 20px);}

  .boton-sig button, .boton-ant button {
    padding: 10px 100px;
    font-size: 20px;
  }

}

/*************************
  Monitor: 1445px <= width 
**************************/
@media (min-width: 1445px) {
  .menu {width: 15%;}
  .galeria {width: 85%;}

  .menu nav{margin-left: 30px;}

  .menu h1 {font-size: 20px;}
  .menu a {font-size: 18px}   

  .imagen h2{font-size: 2vw;}
  .imagen p{font-size: 1.5vw;}

  .imagen h2, .imagen p {
    padding: 10px;
  }

  .fila img {width: calc(26vw - 20px);}
  
  .boton-sig button, .boton-ant button {
    padding: 10px 100px;
    font-size: 25px;
  }

}


/*================================
 ESTILO PARA EL MENÚ
==================================*/
.menu {
  margin-top: 50px;
}

.menu nav {
  background-color: rgb(196, 217, 247);
  margin-right: 0;
  border: 1px solid black;
  border-radius: 17px;
}

.menu nav h1 {
  color: rgb(12, 109, 255);
  text-align: center;
  border: 1px solid black;
  background-color: rgb(150, 195, 253);
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.menu ul {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;  
}

.menu li {
  padding: 7px 0px;
  padding-left: 5px;
}

.menu a{
  text-decoration: none;
  color: black;
}


/*=====================
 ESTILO PARA LA GALERÍA
======================*/  
.galeria {
  margin-top: 40px;
  margin-left: 10px;
}

.fila {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  padding: 10px;
}

.fila img {
  margin-bottom: 15px;
}

.imagen {
  display: grid;
  background-color: rgb(75, 75, 75);
  margin: 10px;
  border: 1px solid rgb(110, 109, 109);
  border-radius: 10px;
  margin-bottom: 10px;
}

.imagen img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0;
  height: 15vw;
}

.imagen p{
  color: white;
}

.imagen h2, .imagen p {
  padding: 5px 10px;
  margin: 0;
}

.imagen h2 {
  color: rgb(252, 170, 167);
  font-style: italic;
  margin-top:5px;
}


/*=====================
 ESTILO PARA EL BOTON
======================*/  
.boton-sig {
  display: flex;
  font-family:'Helvetica';
  justify-content: end;
}

.boton-ant {
  display: flex;
  font-family:'Helvetica';
  justify-content: start;
}

.boton-sig a, .boton-ant a {
  text-decoration: none;
  color: white;
}

.boton-sig button, .boton-ant button {
  background-color: rgb(4, 175, 255);
  border: 1px solid rgb(4, 175, 255);
  border-radius: 10px;
  margin-bottom: 70px;
}

.boton-sig {margin-right: 40px;}
.boton-ant {margin-left: 20%;}
