body {
    margin: 0;
}


/*======================
 ESTILO PARA LA CABECERA
========================*/
header {
    background-color:rgb(156, 48, 48);
}


/***********************
  Móvil: 320px <= width <= 679px 
************************/
@media (min-width: 320px) and (max-width: 679.9px) {
    
   header figure{
        justify-content: center;
    }

    header figure figcaption {font-size: 25px;}

    header nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 0px;
    }

    header nav li{
        margin: 0 19px; 
        padding: 25px 0;
    }

    header section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }
    
    .credenciales{ width: 120px;}
    #registro {padding-left: 15px;}

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    footer p { font-size: 13px;}

    footer a {
        font-size: 13px;
        color: rgb(197, 192, 192);
        padding: 0px 10%;
    }
}

@media (max-width: 399px){
    header section {
        margin-left: 15px;
    }

    .credenciales{ 
        width: 80px;
    }
} 


/************************************
  Tablet: 680px <= width <= 1444px 
************************************/
@media (min-width: 680px) and (max-width: 1444px) {
    header figure figcaption {font-size: 20px;}

    header section {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0%;
        right: 0%;
    }

    .credenciales{ width: 100px;}

    #registro {padding-left: 15px;}

    header nav {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 35px;
    }

    header nav ul{
        display: flex;
        justify-content: space-around;
    }

    header nav li {
        margin: 5px;
        height: 0;
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
    }
    
    footer p { font-size:  15px;}
    
    footer a {
        font-size: 14px;
        color: rgb(197, 192, 192);
    }
}


/*************************
  Monitor: 1445px <= width 
**************************/
@media (min-width: 1445px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header figure figcaption {font-size: 20px;}


    header nav li {
        margin: 0px 25px;
        height: 0;
    }

    header nav a { padding: 0px 5px;}
    
    header nav a:hover { padding: 25px 5px;}

    .main-index {
        height: 80vh;
        width: 100%;
    }

    .credenciales{ width: 120px;}
    
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        height: 10vh;
    }
    
    footer p { font-size: 19px;}
    
    footer a {
        font-size: 18px;
        color: rgb(197, 192, 192);
    }

}


/*======================
 ESTILO PARA EL LOGOTIPO
========================*/
.logo { max-width: 100%;}

header figure {
    display: flex;
    align-items: center;
    margin: 0;
}

header figure figcaption {
    color: rgb(201, 202, 209);
    font-family:'Lucida Sans'; 
    font-style: italic;
    font-weight: bold;
}


/*===================================
 ESTILO PARA EL MENÚ DE NAVEGACIÓN
===================================*/
header nav ul{ 
    padding-inline-start: 0px;
}

header nav li {
    display: inline;
}

header nav a {
    color: rgb(197, 192, 192);
    text-decoration: none; 
    font-weight: bold;
    font-size: 19px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 5px;
}

/* hover : que ocurre cuando se pasa el "Mouse"*/
header nav a:hover {
    background-color: rgb(197, 192, 192);
    color: rgb(156, 48, 48);
    border-radius: 10px;
    padding: 25px 5px;
    transition:  0.3s; /*Animación para el "hover" SOLO CUANDO APERECE*/
}


/*========================================================
 ESTILO PARA EL FORMULARIO DE INICIO DE SESIÓN Y REGISTRO
========================================================*/
/*Solo en las versiones que aparece en la parte superior derecha*/
@media (min-width: 680px){
    header section { 
        margin-top: 15px;
        margin-right: 15px;
    }
}

.credenciales {    
    display: inline;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(4, 175, 255);
    
    height: 30px;
    font-size: 15px;
    text-indent: 5px; /*Establece la tabulación de la primera línea de texto de un elemento*/
    margin-bottom: 5px; /* Separación entre campos */
}

/*focus: como se verá el campo seleccionado*/
.credenciales:focus { 
    outline: none; /* Elimina el contorno predeterminado al enfocar */
}

.credenciales::placeholder { color: rgb(177, 176, 176);}

#botonInicioSesion {
    font-size: 15px;
    text-align: center;
    border: 0px;
    background-color: rgba(4, 175, 255, 0.938);
    color: white;
    font-weight: bold;
    height: 30px;
    width: 100%;
}

#registro {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    font-style: oblique;
    text-align: center;
}

/*======================
 ESTILO PARA EL FOOTER
========================*/
footer {
    font-family:'Verdana'; 
    color: rgb(197, 192, 192);
    background-color:rgb(156, 48, 48);
    padding: 10px 0;
    text-align: center;
    height: 7vh; /*10% ALTURA PANTALLA*/
}


